.container {
  display: grid;
  grid-template-columns: [sidebar] 1fr [content] 3fr;
  padding-top: 70px;
}

.sidebar {
  grid-column: sidebar;
}

.content {
  grid-column: content;
  position: relative;
}

.shaka-svg {
  height: 30px;
  position: relative;
  top: -30px;
  left: 10px;
}
